.langBtn {
  margin-left: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  color: #8590A6;
  background: rgba($icon-default-color, 0.15);

  &:hover {
    color: $primary-color;
    background: rgba($primary-color, 0.1);
  }
}

.active {
  font-weight: bold;
  color: $primary-color;
}
