.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  font-size: 20px;
  font-family: 'Rubik';
  //filter: drop-shadow(0 0 20px $primary-color);
  font-weight: 600;
  opacity: .9;
  color: #383535;
}


.rightContainer {
  display: flex;
  margin-left: auto;

  & > div {
    margin-left: 10px;
  }
}
